packages/
.vs/
.nuget/
ProjetoModelo.Application/bin/
ProjetoModelo.Application/obj/
ProjetoModelo.Domain.Tests/obj/
ProjetoModelo.Domain/bin/
ProjetoModelo.Domain/obj/
ProjetoModelo.Infra.CrossCutting.Datatables/obj/
ProjetoModelo.Infra.CrossCutting.Identity/bin/
ProjetoModelo.Infra.CrossCutting.Identity/obj/
ProjetoModelo.Infra.CrossCutting.IoC/bin/
ProjetoModelo.Infra.CrossCutting.IoC/obj/
ProjetoModelo.Infra.CrossCutting.Log/obj/
ProjetoModelo.Infra.CrossCutting.MvcFilters/obj/
ProjetoModelo.Infra.CrossCutting.MvcFilters/bin/
ProjetoModelo.Infra.Data/bin/
ProjetoModelo.Infra.Data/obj/
ProjetoModelo.MVC/bin/
ProjetoModelo.MVC/obj/
ProjetoModelo.Services.WebAPI/bin/
ProjetoModelo.Services.WebAPI/obj/
